* {
    box-sizing: border-box;
}

h1 {
    margin: 0;
    padding-top: 30px;
    font-family: 'Gilroy';
}

p {
    margin: 0;
}

body {
    margin: 0;
    position: relative;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: pink; /* цвет фона, можете выбрать другой */
    z-index: 9999;
    display: none;
}

body.screenshot::before {
    display: block;
}

button:hover {
    opacity: 70%;
    transition: all linear .5s;
}

.hidden {
    display: none;
}

.container {
    padding: 0 20px;
    max-width: 1170px;
    margin: 0 auto;
}

.fruit-text {
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.lorem-text {
    font-family: 'Gilroy';
    margin-bottom: 30px;
    opacity: 70%;
}

.lorem-text-2 {
    font-family: 'Gilroy';
    margin-bottom: 30px;
    opacity: 70%;
}

.lorem-text-3 {
    font-family: 'Gilroy';
    margin-bottom: 30px;
    opacity: 70%;
}

.text-input {
    padding: 5px;
    width: 314px;
    height: 30px;
    font-family: 'Gilroy';
    text-transform: uppercase;
    font-weight: 600;
    outline: none;
}

.add-button {
    height: 30px;
    width: 200px;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    font-family: 'Gilroy';
    border: none;
    outline: none;
}

.rest-button {
    height: 30px;
    width: 200px;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    font-family: 'Gilroy'; 
    border: none;
    outline: none;
}

.light-button {
    height: 30px;
    width: 200px;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    font-family: 'Gilroy'; 
    border: none;
    outline: none;
}

.dark-button {
    height: 30px;
    width: 200px;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    font-family: 'Gilroy'; 
    border: none;
    outline: none;
}

.set__content{
    margin-top: 30px;
    width: 100%;
    min-height: 200px;
    border: 1px solid #000;
    padding: 15px;
    font-family: 'Gilroy';
    text-transform: uppercase;
    font-weight: 600;
}

.set__content-title {
    margin-bottom: 20px;
    font-weight: 600;
    font-family: 'Gilroy';
}

.set__content-dates {
    line-height: 30px;
    opacity: 30%;
}

.alert-text {
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Gilroy';
    color: red;
    font-weight: 600;
}

.modal {
    position: fixed;
    width: 600px;
    height: 300px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto auto;
    background-color: #000;
    text-align: center;
}

.cross {
    margin-top: 20px;
    margin-right: 20px;
    float: right;
    width: 40px;
    height: 40px;
    background-color: blue;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cross:hover {
    opacity: 70%;
    transition: .5s all linear;
}

.modal-title {
    margin-top: 85px;
    text-transform: uppercase;
    font-size: 20px;
    color: #fff;
    font-family: 'Gilroy';
    font-weight: 600;
}

.modal-description {
    max-width: 500px;
    margin: 0 auto;
    margin-top: 20px;
    color: #fff;
    font-family: 'Gilroy';
    line-height: 20px;
}

.send-button {
    height: 50px;
    width: 100%;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    font-family: 'Gilroy'; 
    border: none;
    outline: none;
}

@media(max-width: 600px) {
    .text-input {
        font-size: 16px;
    }
    h1 {
        line-height: 35px;
        font-family: 'Gilroy';
    }
    .lorem-text {
        line-height: 25px;
    }
    .text-input {
        width: 100%;
        height: 50px;
        border-radius: 10px;
        margin-bottom: 30px;
    }
    .add-button {
        width: 100%;
        height: 50px;
        border-radius: 10px;
        margin-bottom: 20px;
    }
    .light-button {
        width: 100%;
        height: 50px;
        border-radius: 10px;
        margin-bottom: 20px;
    }
    .dark-button {
        width: 100%;
        height: 50px;
        border-radius: 10px;
        margin-bottom: 20px;
    }
    .rest-button {
        width: 100%;
        height: 50px;
        border-radius: 10px;
    }
    .set__content {
        border-radius: 10px;
    }
    .modal {
        width: 340px;
        height: 420px;
        border-radius: 10px;
        padding: 20px;
    }
    .send-button {
        border-radius: 10px;
        margin-bottom: 20px;
    }
    .cross {
        margin: 0;
    }
    .modal-title {
        margin-top: 105px;
    }
    .modal-description {
        line-height: 30px;
    }
}
